<html lang="ru-RU">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация кабинета</title>
    </head>
    <body bgcolor="#deffff">
        <form action="CR submit" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
                <select>
                    <option></option>
                    {% for i in data %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
            </table>
            <input type="submit" value="Submit"/>
         </form>
    </body>
</html>