<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="UTF-8">
        <title>Расписание</title>
    </head>
    <body bgcolor="#deffff">

        <form action="registrate connection" method="get">
            <table>
                {{ db_form }}
            </table>
            <input type="submit" value="Submit"/>
         </form>

        <form action="create_db" method="post">
    {{DSerr}}
    {% csrf_token %}
    <input type="submit", value="Создать базу данных">
        </form>

        <form action="drop_db" method="post">
    {{ICNerr}}
    {% csrf_token %}
    <input type="submit", value="Удалить базу данных">
        </form>
        <ul class="register actions">
        <li><a href="Teacher register.html">Зарегистрировать учителя</a></li>
        <li><a href="Discipline register.html">Зарегистрировать дисциплину</a></li>
        <li><a href="Equipment register.html">Зарегистрировать оборудование</a></li>
        <li><a href="Building register.html">Зарегистрировать филиал</a></li>
        <li><a href="Cabinet type register.html">Зарегистрировать тип кабинета</a></li>
        <li><a href="Cabinet register.html">Зарегистрировать кабинет</a></li>



        </ul>
    </body>
</html>